.menu {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &-header {
    display: flex;
    justify-content: flex-end;
    background-color: salmon;
    padding: 20px;
  }
  &-user {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 50%;
  }
  &-content {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  &-btn {
    color: #fff;
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    border: none;
    &:hover {
      padding: 28px 0;
    }
  }
  &-btn-selected {
    border: 5px solid #0e0006;
  }
  &-btn:nth-child(1) {
    background-color: #da5dba;
  }
  &-btn:nth-child(2) {
    background-color: #4ccbe2;
  }
  &-btn:nth-child(3) {
    background-color: #563de6;
  }
}

.calendar-wrapper {
  flex: 3 1 auto;
}

.calendar {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  &-week {
    display: flex;
    color: #fff;
    background-color: #404040;
    padding: 20px 0;
  }
  &-month {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
  }
}

.week-day {
  text-transform: uppercase;
  flex: 1 1;
  text-align: center;
}

.month-day {
  cursor: pointer;
  flex-basis: 14.286%;
  text-align: center;
  padding: 20px 0;
  transition: 1s;
  border-radius: 50%;
}

.day-number {
  padding: 10%;
  border-radius: 60%;
  transition: 0.5s;
  &:hover {
    color: #fff;
    background-color: salmon;
  }
}

///
.row {
  display: flex;
  width: 100%;
}

.calendar header .month-display {
  align-items: center;
  height: 40px;
  background: #2875c7;
}
.calendar header .month-label {
  text-align: center;
  flex: 1;
}
.calendar .week {
  border-top: solid 1px #cccccc;
}
.calendar .week:first-child {
  border-top: none;
}
.calendar .day-number {
  color: #2875c7;
  font-weight: bold;
  cursor: default;
  font-size: 1.2rem;
}
.calendar .day-number .day {
  cursor: default;
}
.calendar .day-number .day:hover {
  background: inherit;
}
.calendar .day {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
  height: 35px;
  border-left: solid 1px #cccccc;
  cursor: pointer;
  transition: all 0.2s;
}
.calendar .day:hover {
  background: #efefef;
}
.calendar .day:first-child {
  border-left: none;
}
.calendar .day.today {
  background: #dceaf8;
}
.calendar .day.different-month {
  color: #c0c0c0;
}
.calendar .selected-day {
  background: #2875c7;
  color: #ffffff;
}
